<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--  CSS Style Sheets-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="static/css/styles.css" rel="stylesheet">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap"
          rel="stylesheet">
    <!--  Bootstrap scripts-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>
    <!--Font Awesome-->
  <script src="https://kit.fontawesome.com/0489492613.js" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
<section id="title">
    <div class="container-fluid">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" href="#">LizBelaia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarData">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarData">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="#footer">Contact</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#works">Works</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Title-->
        <div class="introtext">
            <img src="static/img/girl.png">
            <h1>
                <a href="" class="typewrite" data-period="2000"
                   data-type='[ "Hi, Im Elizaveta Belaia.", "I am programmer.", "I Love Coding.", "I Love to Develop." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>


        </div>
    </div>
</section>

<section id="skills">
    <h1> My Skills</h1>
    <img class="skillimg" src="static/img/python.png" alt="python">
    <img class="skillimg" src="static/img/html.png" alt="html">
    <img class="skillimg" src="static/img/css.png" alt="css">
    <img class="skillimg" src="static/img/js.png" alt="js">
    <img class="skillimg" src="static/img/react.png" alt="react">


</section>

<section id="works">
    <h1>Works will be here</h1>
</section>

<section id="footer">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2">
        <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h3>Location</h3>
            </div>
            <div class="row">
                <p>Vancouver, WA, US</p>

            </div>
        </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-md-2">
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h3>E-mail</h3>
            </div>
            <div class="row">
                <p>liz.belaya2011@yandex.ru</p>
            </div>
        </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-md-2 ">
            <i class="fa-solid fa-phone"></i>
        </div>
        <div class="col-md-5 ">
            <div class="row">
               <h3>Phone</h3>
            </div>
            <div class="row">
                <p>+1 (360) 360 9156</p>
            </div>
        </div>
    </div>
    </div>
</section>

<script src="static/js/script.js"></script>
</body>
</html>